{% extends "admindb/base.html" %}
{% block content %}
    {% for complaint in complaints %}
        <div class = "row border" style = "padding : 20px">
            <div class="col-md-5">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" src="{{ complaint.image.url }}" alt="">
                </a>
            </div>
            <div class="col-md-7">
                <!-- <h4>Location : {{ complaint. }}</h4> -->
                    <p><strong>ID : </strong>{{ complaint.token}}</p>
                    <p><strong>Filer Name : </strong>{{ complaint.author }}</p>
                    <p><strong>Date filed : </strong>{{ complaint.date_posted }}</p>
                    <p><strong>Description : </strong>{{ complaint.description }}</p>
                <a class="btn btn-secondary" href="{% url 'verify' complaint.complaint_id %}">Approve, Take Action</a>
                <a class="btn btn-primary" href="{% url 'decline' complaint.complaint_id %}">Decline</a>
                <a class="btn btn-danger" href="{% url 'spam' complaint.complaint_id %}">Mark Spam</a>
            </div>
        </div>
        <br/>
      {% endfor %}
{% endblock content %}